body {
    font-family: 'Poppins', sans-serif;


}

h1 {
    font-size: 40px;
    margin: 0px;

}

h3 {
    font-size: 20px;
}

.flexible-container {
    display: flex;

    margin-bottom: 80px;

}

.half-weidth {
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
}

.half-weidth img {
    width: 400px;
    height: 500px;
    margin-left: 30px;
    margin-top: -70px;

}

.border-size {
    border-left: 5px solid;
    border-color: tomato;
    border-radius: 5px;
    border-width: 5%;
    padding-left: 2%;
}

.color {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 10px;
    color: white;
    font-weight: 50;
    border-radius: 5%;

}

.section-1 img {
    text-align: left;
}

.tex-11 {
    text-align: center;
    margin-bottom: 5%;
}

.section-1 {
    font-size: 15px;
    background-color: rgb(248, 248, 231);
    box-shadow: 10px 1px white;
    border-radius: 10%;
    margin-left: 5%;
    padding: 30px;
    width: 300px;
    height: 300px;

}

.section-1 img {
    width: 100px;
    height: 100px;
}

.section-2 {
    font-size: 15px;
    background-color: rgb(250, 234, 236);
    box-shadow: 10px 1px white;
    border-radius: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    width: 300px;
    height: 300px;


}

.section-2 img {
    width: 100px;
    height: 100px;
}

.section-3 {
    font-size: 15px;
    background-color: rgb(248, 248, 231);
    box-shadow: 10px 1px white;
    border-radius: 10%;
    margin-right: 5%;
    padding: 30px;
    width: 300px;
    height: 300px;

}

.section-3 img {
    width: 100px;
    height: 100px;
}

.sec-3-img {
    width: 100px;
    height: 100px;
}

.half-11 {
    height: 300px;
    width: 330px;
    padding-left: 20%;
    margin-top: 20%;
}

.half-22 {
    width: 50%;
    height: 50%;
    padding-left: 10%;
    margin-top: 5%;

}

.shape-1 {
    background-image: url(mission-2022-main/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
}

.shape-2 {
    background-image: url(mission-2022-main/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x: right;
    background-position-y: bottom;
}

#img-33 {
    height: 400px;
    width: 300px;
    padding-left: 70%;
    background-image: url(mission-2022-main/images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right;


}

#half-33 {
    height: 500px;
    width: 500px;
    padding-left: 30%;
    padding-top: 3%;
}

.link-button-2 {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 10px;
    color: white;
    font-weight: 50;
    border-radius: 5%;
}

.tomato-1 {
    color: tomato;
}

.bc-color {
    background-color: black;
    color: white;
    text-align: center;
    font-style: ari;
}